.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
  background-color: #1a1a1a; /* Updated background color */
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
}

.settingsPP {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingsPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingsPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
  color: #54e668; /* Updated label color */
}

.settingsForm > input,
.settingsForm > textarea {
  color: white;
  background-color: #363636;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  padding: 10px;
  resize: none; /* Disable textarea resizing */
  max-height: 200px; /* Set maximum height */
  overflow-y: auto; /* Add scrollbar when content exceeds max height */
}

.settingsSubmit {
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.settingsSubmit:hover {
  background-color: #54e668; /* Updated hover background color */
}
