.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
  color: #54e668;
}

.registerFormContainer {
  border: 2px solid #fff; /* Border color */
  padding: 20px; /* Add padding for better visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  border-radius: 10px; /* Border radius */
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  color: #54e668;
  font-size: 20px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #54e668;
  border: solid #ffff;
  color: white;
  border-radius: 10px;
  padding: 10px;
}



.registerError {
  color: red;
  font-size: 20px;
}

.loginLink {
  margin-top: 20px;
}

.loginLink span {
  cursor: pointer;
  color: #ffff; /* Default link color */
  text-decoration: none;
  font-size: 20px;
}

.loginLink span:hover {
  text-decoration: underline;
  color: #54e668; /* Change color on hover */
}