.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
  color: #54e668;
}

.loginFormContainer {
  border: 2px solid #ffff; /* Border color */
  padding: 20px; /* Add padding for better visibility */
  background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  border-radius: 10px; /* Border radius */
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
  color: #54e668;
  font-size: 20px;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: #54e668;
  border: solid #ffff;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}


.loginError {
  color: red;
  font-size: 20px;
}
.registerLink {
  margin-top: 10px;
  text-align: center;
}

.registerLink span {
  color: white; /* Set text color */
  text-decoration: underline; /* Underline text */
  cursor: pointer; /* Change cursor to pointer on hover */
  font-size: 20px;
}

.registerLink span:hover {
  text-decoration: underline;
  color: #54e668; /* Change color on hover */
}