.feature-container {
    display: flex; /* Use Flexbox layout */
    justify-content: space-around; /* Distribute space evenly between children */
    margin-top: 30px; /* Add margin at the top */
    /* background-color: rgb(0, 0, 0); */
  }
  
  .feature {
    text-align: center; /* Center align text */
    max-width: 300px; /* Set maximum width for each feature */
  }
  
  .feature-icon {
    font-size: 5rem; /* Set font size for icons */
    color: #54e668; /* Set color for icons */
  }
  
  .feature-title {
    font-size: 1.5rem; /* Set font size for feature titles */
    margin-top: 10px; /* Add margin at the top */
    color: #54e668;
  }
  
  .feature-description {
    font-size: 1rem; /* Set font size for feature descriptions */
    color:#ffffff; /* Set color for feature descriptions */
    margin-top: 10px; /* Add margin at the top */
  }
  